<mat-toolbar color="primary">
  <span>iBPMS</span>

  @if (role()) {
    @if (role() === 'EMPLOYEE') {
      <a mat-button routerLink="/dashboard">Dashboard</a>
    }
    @if (role() === 'ADMIN_DESIGNER') {
      <a mat-button routerLink="/policies">Políticas</a>
      <a mat-button routerLink="/designer">Diseñador</a>
      <a mat-button routerLink="/analytics">Analítica</a>
    }
    <span style="flex: 1 1 auto"></span>
    <button mat-button (click)="logout()">Cerrar sesión</button>
  }
</mat-toolbar>

<router-outlet />

